* {
    box-sizing: border-box;

}

.container {
    max-width: 1928px;
    margin: 0 auto;

}

body {
    font-family: 'Gilroy';
    font-style: normal;

}

ul,
li {
    list-style: none;
}

.text {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn_right {
    background-color: #FFFFFF;
    color: #000000;
    outline: 1px solid #FF5C00;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 21px 0;

    .menu li {
        display: inline;
        color: #000;
        font-weight: 400;
        font-size: 16px;

        &:not(:first-child) {
            margin-left: 10px;
        }

    }

    .zaiavka {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
        width: 208px;
        height: 50.99px;
        border-style: none;

        background: #FF5C00;
        border-radius: 16px;
    }
}

.info_block {
    background: rgba(179, 179, 179, 0.18);
    display: flex;
    padding: 0 20px;
    position: relative;

    .title {
        inline-size: 548px;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;



        .text {
            color: #000000;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            max-width: 500px;
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;

        .btn_left,
        .btn_right {
            width: 257px;
            height: 63px;
            line-height: 63px;
            border-radius: 16px;
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
        }

        .btn_left {
            background-color: #0061FF;
            color: #FFFFFF;
        }

        .btn_right {
            background-color: #FFFFFF;
            color: #000000;
            outline: 1px solid #FF5C00;
        }
    }

    .img__rectangle {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -145px;

        .rectangle__info {
            display: flex;
            justify-content: space-around;
            position: absolute;
            top: 79px;
            left: 50%;
            transform: translate(-50%, 0);

            text-align: center;

            .text {
                margin: 10px 0;
            }

            .rectangle_center {
                margin: 0 20px;
            }
        }
    }

}

.title {
    color: #0061FF;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;

}

.header__title {
    position: relative;
    color: #AAAAAA;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    &::before {
        content: "";
        position: absolute;
        top: 18px;
        width: 53px;
        height: 2px;
        left: -56px;
        background-color: #FF5C00;
    }
}

.catigory {
    color: #000000;
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;

    .btn_left,
    .btn_right {
        width: 257px;
        height: 63px;
        line-height: 63px;
        border-radius: 16px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
    }

    .btn_left {
        background-color: #0061FF;
        color: #FFFFFF;
    }

    .btn_right {
        background-color: #FFFFFF;
        color: #000000;
    }
}

.slider_top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background: rgba(179, 179, 179, 0.18);



    .slider_top .men__center {
        position: absolute;
        left: 10%;

        z-index: 9;
        height: 100%;
    }

    .text__content-container {
        padding-left: 416px;
    }

    .title {
        max-width: 700px;
    }

    .single-item {
        max-width: 700px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(196, 190, 187, 0.8);
        box-shadow: 0px 14px 47px rgba(0, 0, 0, 0.09);
        border-radius: 17px;
        padding: 20px;

        .men__center {
            position: absolute;
            height: 100%;
            padding-left: 127px;
        }

        .text__slide {
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            max-width: 500px;
        }

        .name__avtor {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #0061FF;
        }

        .profession__avtor {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #AAAAAA;
        }
    }


}

.rotate {
    transform: rotateY(177deg);
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    right: -19px;
}

.slick-next {
    left: 19px;
}

// @keyframes fade-in-move-down {
//     0% {
//       opacity: 0;
//       transform: translate(2rem, 0);

//     } 
//     100% {
//       opacity: 1;
//       transform: translate(0, 0);

//     }
//   }


//  .slick-active .name__avtor { animation: fade-in-move-down 1.2s; };
//  .slick-active .men__center { animation: fade-in-move-down 1.2s; };
.slider_center {
    display: flex;
    gap: 177px;
    align-items: center;
    padding: 10px;
    margin: 50px 0;

    .catigory {
        margin: 10px 0;
    }

    .text {
        width: 100%;
        white-space: unset;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 20px 0;
    }

    .top {
        display: flex;


        margin: 21px 0;

        img:nth-child(2) {}

    }

    .bottom {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
}

.slider__one {
    .slick-next {
        left: -37px;
    }

    .header__title {
        left: 58px;
    }
}

.hvish__container {
    position: relative;

    .text {
        width: 70%;
    }

    .vecrors {
        position: absolute;
    }
}