* {
  box-sizing: border-box;
}

.container {
  max-width: 1928px;
  margin: 0 auto;
}

body {
  font-family: 'Gilroy';
  font-style: normal;
}

ul,
li {
  list-style: none;
}

.text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn_right {
  background-color: #FFFFFF;
  color: #000000;
  outline: 1px solid #FF5C00;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 21px 0;
}
.top .menu li {
  display: inline;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}
.top .menu li:not(:first-child) {
  margin-left: 10px;
}
.top .zaiavka {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 208px;
  height: 50.99px;
  border-style: none;
  background: #FF5C00;
  border-radius: 16px;
}

.info_block {
  background: rgba(179, 179, 179, 0.18);
  display: flex;
  padding: 0 20px;
  position: relative;
}
.info_block .title {
  inline-size: 548px;
}
.info_block .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info_block .left .text {
  color: #000000;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  max-width: 500px;
  width: 100%;
}
.info_block .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.info_block .buttons .btn_left,
.info_block .buttons .btn_right {
  width: 257px;
  height: 63px;
  line-height: 63px;
  border-radius: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.info_block .buttons .btn_left {
  background-color: #0061FF;
  color: #FFFFFF;
}
.info_block .buttons .btn_right {
  background-color: #FFFFFF;
  color: #000000;
  outline: 1px solid #FF5C00;
}
.info_block .img__rectangle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -145px;
}
.info_block .img__rectangle .rectangle__info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 79px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.info_block .img__rectangle .rectangle__info .text {
  margin: 10px 0;
}
.info_block .img__rectangle .rectangle__info .rectangle_center {
  margin: 0 20px;
}

.title {
  color: #0061FF;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
}

.header__title {
  position: relative;
  color: #AAAAAA;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.header__title::before {
  content: "";
  position: absolute;
  top: 18px;
  width: 53px;
  height: 2px;
  left: -56px;
  background-color: #FF5C00;
}

.catigory {
  color: #000000;
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}
.buttons .btn_left,
.buttons .btn_right {
  width: 257px;
  height: 63px;
  line-height: 63px;
  border-radius: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.buttons .btn_left {
  background-color: #0061FF;
  color: #FFFFFF;
}
.buttons .btn_right {
  background-color: #FFFFFF;
  color: #000000;
}

.slider_top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: rgba(179, 179, 179, 0.18);
}
.slider_top .slider_top .men__center {
  position: absolute;
  left: 10%;
  z-index: 9;
  height: 100%;
}
.slider_top .text__content-container {
  padding-left: 416px;
}
.slider_top .title {
  max-width: 700px;
}
.slider_top .single-item {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(196, 190, 187, 0.8);
  box-shadow: 0px 14px 47px rgba(0, 0, 0, 0.09);
  border-radius: 17px;
  padding: 20px;
}
.slider_top .single-item .men__center {
  position: absolute;
  height: 100%;
  padding-left: 127px;
}
.slider_top .single-item .text__slide {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
}
.slider_top .single-item .name__avtor {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #0061FF;
}
.slider_top .single-item .profession__avtor {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #AAAAAA;
}

.rotate {
  transform: rotateY(177deg);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  right: -19px;
}

.slick-next {
  left: 19px;
}

.slider_center {
  display: flex;
  gap: 177px;
  align-items: center;
  padding: 10px;
  margin: 50px 0;
}
.slider_center .catigory {
  margin: 10px 0;
}
.slider_center .text {
  width: 100%;
  white-space: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0;
}
.slider_center .top {
  display: flex;
  margin: 21px 0;
}
.slider_center .bottom {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.slider__one .slick-next {
  left: -37px;
}
.slider__one .header__title {
  left: 58px;
}

.hvish__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 20px;
}
.hvish__container .left__side {
  position: relative;
}
.hvish__container .left__side .title {
  margin: 20px 0;
}
.hvish__container .left__side .text {
  width: 70%;
  margin-bottom: 20px;
}
.hvish__container .left__side .buttons {
  gap: 33px;
}
.hvish__container .header__title::before {
  left: -67px;
}
.hvish__container .vecrors {
  position: absolute;
  right: 0;
  top: 0;
}
.hvish__container .right__side .two_img {
  margin: 20px 0;
}
.hvish__container .right__side .two_img img:not(:first-child) {
  margin-left: 10px;
}

.bazoviy__curs .left .program__curs-container {
  position: relative;
}
.bazoviy__curs .left .logo {
  position: absolute;
  left: -35px;
}
.bazoviy__curs .left .title__curs {
  font-weight: 700;
  font-size: 28px;
  color: #FF5C00;
}
.bazoviy__curs ul li {
  list-style: inside;
}

/*# sourceMappingURL=scss.css.map */
