* {
  box-sizing: border-box;
}

.container {
  max-width: 1928px;
  margin: 0 auto;
}

body {
  font-family: 'Inter';
  font-style: normal;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
}
.top .serch {
  margin-left: auto;
}
.top logo {
  margin: 0 auto;
}
.top .menu li {
  display: inline;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #17407D;
  transition: all .5s;
}
.top .menu li:not(:first-child) {
  margin-left: 109px;
}
.top .menu li:hover {
  color: #8E6B0F;
  transition: all .5s;
  cursor: pointer;
}

.title {
  font-family: 'Jacques Francois';
  font-weight: 400;
  font-size: 48px;
  line-height: 63px;
  color: #8E6B0F;
}

.text {
  margin: 47px 0;
  color: #17407D;
  max-width: 870px;
  font-size: 24px;
}

.slick-prev,
.slick-next {
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
}

.slick-prev {
  right: 54px;
  z-index: 9;
}

.slider_ {
  display: flex;
  max-height: 877px;
}
.slider_ .right {
  flex-basis: 50%;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider_ .right .conatiner__content {
  max-width: 576px;
}
.slider_ .right .btn {
  width: 301px;
  height: 84px;
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  background: #17407D;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.36);
  border-radius: 48px;
  text-align: center;
  line-height: 83px;
  color: #FFFFFF;
}

.catigory {
  text-align: center;
  padding: 0 90px;
}
.catigory .title {
  margin: 43px 0;
}
.catigory .text {
  margin: 20px auto;
}

.container__img {
  display: flex;
  gap: 21px;
}
.container__img img {
  margin: 23px 0;
  width: 100%;
  height: unset;
}

.jewels {
  display: flex;
  position: relative;
  margin: 20px 0;
}
.jewels .title {
  position: absolute;
  top: 22%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.jewels .title span {
  margin-left: 21px;
  color: #FFFFFF;
}
.jewels .left {
  flex-basis: 47%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jewels .left .conatiner__content {
  max-width: 576px;
}
.jewels .left .btn {
  width: 301px;
  height: 84px;
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  background: #17407D;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.36);
  border-radius: 48px;
  text-align: center;
  line-height: 83px;
  color: #FFFFFF;
}

.bottom__block {
  background-color: #EEF2F9;
}
.bottom__block .img__center {
  padding: 215px 43px;
  position: relative;
}
.bottom__block .img__center .text__content__bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
}
.bottom__block .img__center .text__content__bottom .kovichka {
  height: 50px;
  width: 50px;
}
.bottom__block .img__center .title__img {
  margin: 20px 0;
  font-family: 'Jacques Francois';
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.bottom__block .img__center .text__img {
  font-family: 'Jacques Francois';
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

footer {
  border-top: 5px solid #0F274A;
  background-color: #EEF2F9;
}
footer .footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 31px 0;
}
footer .menu li {
  display: inline;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #17407D;
}
footer .menu li:not(:first-child) {
  margin-left: 109px;
}
footer .logo__soc img {
  height: 71px;
  width: 71px;
}

.all_rights_reserved {
  background-color: #0F274A;
  text-align: center;
  padding: 4px 0;
}
.all_rights_reserved .text__footer {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}

/* scroll top */
#top {
  position: fixed;
  right: 29px;
  bottom: 238px;
  z-index: 9;
}

#top {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}

#top:hover {
  opacity: 1;
}

/* scroll top */
@media (max-width: 1460px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }

  .slider_ .right {
    padding: 20px;
  }
}
@media (max-width: 1033px) {
  .container {
    max-width: 999px;
  }

  .slick-prev,
  .slick-next {
    top: 0;
  }

  .slider_ {
    display: block;
    max-height: 100%;
    height: 100%;
  }
}
@media (max-width: 927px) {
  .container__img {
    flex-direction: column;
  }

  .catigory {
    padding: 0 10px;
  }

  .jewels .left .btn {
    width: 201px;
    margin: 0 auto;
  }

  .title {
    font-size: 5vw;
  }

  .bottom__block .img__center {
    padding: 50px 43px;
    position: relative;
  }

  footer .footer__bottom {
    justify-content: space-around;
  }

  footer .menu li:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 913px) {
  .bottom__block .img__center .text__img {
    font-family: 'Jacques Francois';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 847px) {
  .jewels .title {
    top: 13%;
  }
}
@media (max-width: 766px) {
  .top .menu li:not(:first-child) {
    margin-left: 20px;
  }

  footer .footer__bottom {
    flex-wrap: wrap;
  }
  footer .footer__bottom ul,
  footer .footer__bottom li {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 740px) {
  .jewels {
    flex-direction: column-reverse;
  }
  .jewels .left {
    margin: 20px 0;
  }
  .jewels .title {
    font-size: 6vw;
    text-align: center;
    width: 100%;
    left: 50%;
  }
}
@media (max-width: 729px) {
  .bottom__block .img__center .title__img {
    margin: 0 0;
  }
}
@media (max-width: 653px) {
  .bottom__block .img__center .title__img {
    font-size: 3vw;
  }

  .bottom__block .img__center .text__content__bottom {
    position: unset;
    display: block;
    transform: unset;
    max-width: 800px;
    text-align: center;
    color: #17407D;
  }

  .bottom__block .img__center .text__img {
    color: inherit;
  }

  .bottom__block .img__center .title__img {
    filter: brightness(0) saturate(100%) invert(19%) sepia(25%) saturate(5022%) hue-rotate(202deg) brightness(86%) contrast(90%);
  }

  .bottom__block .img__center {
    padding: 20px;
  }
}
@media (max-width: 399px) {
  .title {
    line-height: 28px;
  }

  .text {
    margin: 20px 0;
  }

  .slider_ .right .btn {
    width: 100%;
    font-size: 26px;
    margin: 0 auto;
  }

  .jewels .left .btn {
    width: 100%;
    margin: 0 auto;
  }

  .top {
    justify-content: center;
  }
  .top ul,
  .top li {
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=scss.css.map */
